/* Movie description popup */
.popup-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* For Safari */
  z-index: 50;
}
.description-popup {
  background-color: #1b1b1b;
  color: white;
  width: 50%;
  margin: auto;
  padding: 2rem;
  display: flex;
  border-radius: 6px;
  position: fixed;
  top: 20%;
  left: 25%;
  transform: scale(0.1);
  transition: transform 0.3s ease-in-out;
}
.open-popup {
  visibility: hidden;
}

.description-popup img {
  padding: 0.7rem;
  object-fit: cover;
  width: 14rem;
  height: 19rem;
  border-radius: 0.5rem;
}

.movie-details {
  padding: 0 2rem;
}

.movie-details .popup-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.close {
  position: absolute;
  top: 0.1rem;
  right: 0.7rem;
  color: red;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
}

.close:hover {
  font-weight: 700;
  transform: scale(1.2);
  transition: all 0.2s;
}

.movie-details .popup-lang {
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.movie-details .popup-rating {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.movie-details .popup-detail {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

@media screen and (max-width: 1024px) {
  .description-popup {
    width: 70%;
    left: 15%;
  }
}

@media screen and (max-width: 768px) {
  .description-popup {
    width: 80%;
    left: 10%;
    padding: 1.5rem;
  }
  .description-popup img {
    width: 10rem;
    height: 15rem;
  }
  .movie-details {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 576px) {
  .description-popup {
    width: 90%;
    left: 5%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    top: 10%;
  }

  .description-popup img {
    width: 12rem;
    height: 16rem;
    margin-bottom: 1rem;
  }

  .movie-details {
    padding: 0;
    text-align: center;
  }

  .movie-details .popup-detail {
    max-height: 150px;
    overflow-y: auto;
  }
}
