html {
    font-size: 70%;
}

.nav-bar{
    flex-direction: column;
}
#nav-search{
    margin-bottom: 1rem;
}
#nav-search input{
    margin: 0;
}
#nav-search button {
    margin-right: 0;
    margin-left: 0.5rem;
}
#home-logo #first-word {
    margin-left: 0;
}
